# Игнорируем файл в папке tmp
tmp/
# Игнорируем файл c окончанием _old
**/*_old
# Игнорируем файл c окончанием _backup
**/*_backup
# Игнорируем все файлы c окончанием .DS_Store на всех уровнях
1.2. Site For Import/**/**.DS_Store
# Игнорируем все файлы Thumbs.db на всех уровнях
1.2. Site For Import/**/Thumbs.db